body {
	background: #2E2A2A;
}


div#logo {
margin-left:auto;
margin-right:auto;
margin-top:30px;
width:1026px;
height:843px;
}

div#container {
margin-left:auto;
margin-right:auto;
width:100%;
height 100%;
}